<?php

return [
    'default' => [

        'domainCookie' => [
            'type'    => 'cookie',
            'persist' => 'domainPassword',

            'tokens' => [
                'model'   => 'token',
                'expires' => 3600 * 24 * 14
            ]
        ],

        'domainSession' => [
            'type'    => 'session',
            'persist' => 'domainPassword'
        ],

        'domainPassword' => [
            'type'  => 'password',
            'model' => 'user',

            'loginFields' => ['email', 'login'],
            'hashField'   => 'password'
        ]

    ],
];
